* {
    position: relative;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #FFF;
    --main-color: #000;

    --success-color: #4CAF50;
    --error-color: #F44336;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

p {
    margin: 0;
}

.primary {

}

.success {
    color: var(--success-color);
}

.error {
    color: var(--error-color);
}

.ghost {
    opacity: 0;
    pointer-events: none;
}
