/* Visibility */
.ghost {
    opacity: 0;
    pointer-events: none;
}

/* Overlays/Screens */

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 9001;
}

.overlay.dark,
.overlay[data-state="dark"] {
    background-color: rgba(0, 0, 0, .8);
}

.overlay.light,
.overlay[data-state="light"] {
    background-color: rgba(255, 255, 255, .8);
}


/* Shapes */
.circle {
    border-radius: 50%;
    border: 2px solid;
}

.triangle {
    width: 0; 
    height: 0;
    border-width: 5px;
}

.triangle.up,
.triangle[data-state="up"] {
    border-left: solid transparent;
    border-right: solid transparent;
    border-bottom: solid;
}

.triangle.down,
.triangle[data-state="down"]  {
    border-left: solid transparent;
    border-right: solid transparent;
    border-top: solid;
}

.triangle.left,
.triangle[data-state="left"]  {
    border-top: solid transparent;
    border-bottom: solid transparent;
    border-right: solid;
}

.triangle.right,
.triangle[data-state="right"]  {
    border-top: solid transparent;
    border-bottom: solid transparent;
    border-left: solid;
}

/* Spinner */
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner {
    width: 50px;
    height: 50px;
}

.spinner:after {
    content: '';
    position: absolute;
    top: 0; left: 25%;
    animation: spin .6s infinite linear;
    border-radius: 50%;
    border-color: #FFF transparent transparent;
    border-style: solid;
    box-shadow: 0 0 0 1px transparent;
    width: 100%;
    height: 100%;
    margin: 0 0 0 -18px;
}


/* BUTTONS */
.btn-flat {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 4px;
}

/* MODAL */
.modal {
    width: 650px;
    margin: 30px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5)
}

.modal-close {
    
}

.modal-header {
    border-bottom: 1px solid #e5e5e5
}

.modal-body {
    
}

.modal-footer {
    border-top: 1px solid #e5e5e5
}