/*
  TODO: this should be configurable during scaffold

// SPACING
$spacing-tiny: 10px;
$spacing-small: 20px;
$spacing-medium: 30px;
$spacing-large: 60px;
$spacing-xlarge: 120px;

// COLORS
$main-color: #00FFFF;


// GENERAL
$max-content-width: 1280px;

*/
