<!DOCTYPE html>
<html>
	<head>
		<title>Vue</title>
		<style>
		    [v-cloak] {
		        display: none;
		    }
		</style>
	</head>
	<body>
	    <div id="basic" v-text="message">
	    </div>
	    
	    <div id="v-bind-title">
	        <span v-bind:title="title">Hover over me!</span>
	    </div>
	    
	    <div id="v-if">
	        <button v-on:click="toggle">Toggle Element</button>
	        <span v-if="seen" v-cloak>Peek-a-Boo</span>
	    </div>
	    
	    <div id="v-for">
	        <ul>
	            <li v-for="todo in todos" v-text="todo.text">
	            </li>
	        </ul>
	    </div>
	    
	    <div id="v-model">
	        <p v-text="message"></p>
	        <input v-model="message">
	    </div>
	    
	    <div id="vue-life">
	        <ol>
	            <li v-for="m in messages" v-text="m"></li>
	        </ol>
	    </div>
	    
	    <div id="v-html">
	        <div v-html="raw"></div>
	    </div>
	    
	    <div id="v-on">
	        <div v-on:click="doIt" v-text="message"></div>
	        <div @click="doIt" v-text="message"></div>
	        <p v-cloak> Computed: {{ reversedMessage }} </p>
	    </div>
	    
	    <div id="buttons">
	        <p> Total : {{total}}</p>
	        <simple-counter @update='updateTotal'></simple-counter>
	        <simple-counter @update='updateTotal'></simple-counter>
	        <simple-counter @update='updateTotal'></simple-counter>
	    </div>
	    
	    
	    <div id="full">
	        
	    </div>

		<div id="test">
			<user-table></user-table>
		</div>
    	
    	
	    
	    
	    <my-app>
	        <my-child v-text="message"> </my-child>
	    </my-app>
	    
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="index.js"></script>
	</body>
</html>